@font-face {
  font-family: Bebas Neue;
  src: url("../fonts/BebasNeue-Regular.ttf");
}

* {
  font-family: Bebas Neue;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #100f0f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #100f0f;
  color: #db0000;
  width: 100vw;
  min-height: 15vh;
}

header h1 {
  margin-left: 2em;
  font-size: 3em;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
  margin-right: 3em;
}

nav a {
  font-size: 1.3em;
  color: #db0000;
}

nav a:hover {
  transition: all ease-out 1s;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

main section {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

main section img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}

.contenedor-info {
  max-width: 40em;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 5em;
  bottom: 3em;
  color: #f6efef;
  word-wrap: break-word;
}

main section div h2 {
  font-weight: 200;
  font-size: 2em;
}

main section div p {
  display: contents;
  letter-spacing: 0.1em;
  line-height: 0;
}

.contenedor-btn {
  min-width: 15em;
  height: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 1em;
  left: 5em;
}

.contenedor-btn button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8em;
  border-radius: 0.5em;
  background-color: #c1a3a341;
  border-color: #100f0f14;
  color: #f6efef;
  letter-spacing: 0.05em;
}

.contenedor-btn button img {
  width: 1.5em;
  margin-right: 0.5em;
}

.contenedor-secciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contenedor-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30em;
  height: auto;
}

.pelicula-art {
  display: flex;
  width: 100em;
  height: 15em;
}

.pelicula-art figure {
  width: 10em;
  min-height: 15em;
}

.pelicula-art figure button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  opacity: 1;
  width: 12em;
  height: 16em;
  object-fit: cover;
}

.pelicula-art figure button :hover {
  transition: all ease-out 1s;
  opacity: 1;
  box-shadow: 0px 0px 1em #db0000;
}

.pelicula-art figure figcaption {
  color: #f6efef;
  text-align: center;
}

.contenido-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12em;
}

.contenido-movie p {
  color: #f6efef;
  text-align: justify;
  word-wrap: keep-all;
}

.titulo-seccion {
  color: #f6efef;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-contenido {
  background-color: #cfcaca;
  display: flex;
  justify-content: center;
  margin: 10% auto;
  padding: 2em;
  border: 0.1em solid #888;
  border-radius: 0.5em;
  width: 30em;
  max-width: 50em;
  height: 20em;
  max-height: 25em;
  position: relative;
}

iframe {
  width: 100%;
}

.cerrar {
  position: absolute;
  right: 0.5em;
  top: 0.3em;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}

.modal-contenido {
  overflow: hidden;
}
